server:
  port: 8080
  servlet:
    context-path: /

spring:
  application:
    name: esports-calendar-backend
  profiles:
    active: dev

  # PostgreSQL Datasource
  datasource:
    url: jdbc:postgresql://localhost:5432/avgc_users
    driver-class-name: org.postgresql.Driver
    username:
    password:

  # JPA Configuration
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

app:
  jwt:
    secret: "secret-key-change-in-production-32chars"
    expiration-ms: 86400000   # 24 hours







